<doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
  <title><%= title %></title>
</head>
<html>
  <body>
    <section>
      <%= yield %> 
    </section>
  </body>
</html>

